
.footer-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Medium Screens */
@media (min-width: 1000px) {
    .footer-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

footer {
    background-color: #f6f6f6;
    color: #181c2f;
    grid-area: footer;
    margin: 0;
    padding: 1em;
}
footer ul {
    padding-left: 0;
}
footer li {
    color: #444;
    font-family: "Gotham Normal", sans-serif;
    font-weight: lighter;
    hover: underline;
    line-height: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footer-column {
    margin: 30px 80px;
}
.footer-title {
    color: #181c2f;
    font-family: ’Merriweather’, serif;
    font-size: 30px;
    padding-bottom: 10px;
}
