body {
    background-color: white;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    padding: 0px;
    width: 100%;
}

html {
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    padding: 0px;
    width: 100%;
}

h1 {
    font-family: 'Gotham Black',sans-serif;
    font-size: 1.9em;
    margin: 0;
}

h2 {
    color: #444;
    font-family: "Gotham Normal", sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

h3 {
    color: #888;
    font-family: "Gotham Normal", sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

p {
    color: white;
    font-family: "Gotham Thin", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 50px 0px;
    /* Reference to https://www.w3schools.com/cssref/pr_gen_quotes.asp */
    quotes: "'" "'"; 
}

a {
    text-decoration: none;
}

button {
    background-color: #f46059;
    border: none;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin: 0px 20px;
    padding: 8px 30px;
}

button:hover {
    cursor: pointer;
}
