nav {
    background-color: #181c2f;
    font-family: "Gotham Normal", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    grid-area: nav;
    margin: 0;
    padding: 0.3em;
    position: relative
}
.nav-link {
    display: inline;
    list-style-type: none;
    margin: 0 1em;
    padding: 0;
}
.nav-link a {
    color: white;
}
#solar-img {
    padding-top: 30px;
}
#splash {
    background-color: #181c2f;
    /* background-color: #f46059; */
    font-size: 1.5em;
    color: white;
    grid-area: splash;
    padding: 120px 25% 0 25%;
    text-align: center;
}
#top-right {
    position: absolute;
    right: 20px;
    top: 20px;
}
#top-right a {
    color: white;
    margin: 0 1em;
}
#top-right button {
    margin: 0 1em;
}
