@import 'general.css';
@import 'footer.css';
@import 'header.css';

/* Mobile */
#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 800px 2200px 700px 700px;
    grid-template-areas: 
    "nav"
    "splash"
    "posts"
    "bio"
    "footer"
}

.post-card {
    background-color: white;
    border-color: #888;
    border-style: dashed;
    border-width: 1px;
    border-radius: 30px;
    box-shadow: 10px 15px 0 #fff3f0;
    margin: 30px;
    padding: 30px;
    position: relative;
}

/* Medium Screens */
@media (min-width: 1000px) and (max-width: 1259px) {

    #container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 470px 1250px 450px 400px;
        grid-template-areas: 
        "nav"
        "splash"
        "posts"
        "bio"
        "footer"
    }

    .post-card {
        background-color: white;
        border: 1px dashed #888;
        border-radius: 30px;
        box-shadow: 10px 15px 0 #fff3f0;
        height: 300px;
        margin: 30px;
        padding: 30px;
        position: relative;
        width: 300px;
    }

}

/* Large Screens */
@media (min-width: 1260px) {

    #container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 80px 620px 400px 700px 300px 400px;
        grid-template-areas: 
        "nav nav"
        "splash image"
        "posts back"
        "posts bio"
        "posts back2"
        "footer footer"
    }

    .post-card {
        background-color: white;
        border-color: #888;
        border-style: dashed;
        border-width: 1px;
        border-radius: 30px;
        box-shadow: 10px 15px 0 #fff3f0;
        height: 300px;
        margin: 50px;
        padding: 30px;
        position: relative;
        width: 300px;
    }

}

.post-card h1 {
    color: #181c2f;
    margin-bottom: 0;
}

.post-card p {
    margin-top: 30px;
}

.card-tag {
    border-radius: 2em;
    color: white;
    font-family: "Gotham Thin", sans-serif;
    font-size: 14px;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.data-tag {
    background-color: #0f78ce;
}

.environment-tag {
    background-color: #39CCCC;
}

.opinion-tag {
    background-color: #F7882F;
}

/* Specific element styles */
/* Above the bio below the header */
#backstop {
    background-color: #fff9f6;
    grid-area: back;
}
/* Below the bio above the footer */

#backstop2 {
    background-color: #fff9f6;
    grid-area: back2;
}

#bio {
    background-color: #f46059;
    grid-area: bio;
    padding: 3em;
}

#cover-image {
    grid-area: image;
    position: relative;
}
figcaption {
    bottom: 75px;
    color: #bbb;
    position: absolute;
    font-family: serif;
    font-size: 12px;
    left: 15px;
}


#posts-container {
    align-content: flex-start;
    background-color: #fff9f6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: posts;
    justify-content: flex-start;
}

.preview {
    color: #444;
}
