@import 'general.css';
@import 'footer.css';
@import 'header.css';

/* Mobile */
#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 900px 350px 1500px 700px;
    grid-template-areas: 
    "nav"
    "post-title"
    "post-info"
    "postbody"
    "footer"
}

#post-info {
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
    "date avatar"
    "author-info author-info"
    "social-sharing social-sharing";
    grid-area: post-info;
    margin-left: 10px;
}

/* Medium Screens */
@media (min-width: 1000px) and (max-width: 1299px) {

    #container {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 80px 620px 180px 1000px 400px;
        grid-template-areas: 
        "nav nav nav"
        "post-title post-title post-title"
        "left post-info right"
        "left postbody right"
        "footer footer footer";
    }

    #post-info {
        background-color: white;
        border-left: 1px dashed #888;
        border-right: 1px dashed #888;
        display: grid;
        grid-template-columns: 30% 60% 10%;
        grid-template-rows: 20% 70% 10%;
        grid-template-areas: 
        "date date date"
        "avatar author-info social-sharing";
        grid-area: post-info;
        margin-left: 0;
    }

}

/* Large Screens */
@media (min-width: 1300px) {

    #container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 80px 620px 180px 1000px 400px;
        grid-template-areas: 
        "nav nav nav"
        "post-title post-title post-title"
        "left post-info right"
        "left postbody right"
        "footer footer footer";
    }

    #post-info {
        background-color: white;
        border-left: 1px dashed #888;
        border-right: 1px dashed #888;
        display: grid;
        grid-template-columns: 30% 60% 10%;
        grid-template-rows: 20% 70% 10%;
        grid-template-areas: 
        "date date date"
        "avatar author-info social-sharing";
        grid-area: post-info;
        margin-left: 0;
    }

}

#date {
    color: #ccc;
    grid-area: date;
}

#author-avatar {
    display: inline-block;
    grid-area: avatar;
    height: 100px;
    margin: 20px;
    width: 100px;
}

#avatar-image {
    border-radius: 200px;
    max-height: 100%;
}

#author-info {
    grid-area: author-info;
}

/* inspiration: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
#social-sharing {
    grid-area: social-sharing;
}

.fa {
    border-radius: 100px;
    display: block;
    font-size: 30px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 40px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0e76a8;
    color: white;
}


/* Took inspiration from
 * https://stackoverflow.com/questions/21957356/darken-a-background-image-without-affecting-the-text
 */
#post-title-4 {
    background-image: url("../images/post4.jpeg");
}

#post-title-3 {
    background-image: url("../images/post3.jpeg");
}

#post-title-2 {
    background-image: url("../images/post2.jpeg");
}

#post-title-1 {
    background-image: url("../images/post1.png");
}

#post-title-0 {
    background-image: url("../images/post0.jpeg");
}

.post-title {
    background-size: cover;
    display: inline-block;
    font-size: 1.5em;
    grid-area: post-title;
    padding: 120px 25% 0 25%;
    position: relative;
    text-align: center;
}

.post-title:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(white, rgba(255, 255, 255, 0.7));
}

.post-title h1,
.post-title h2 {
    position: relative;
}

figcaption {
    bottom: 20px;
    color: #444;
    position: absolute;
    font-family: serif;
    font-size: 12px;
    right: 20px;
}

#postbody {
    background-color: white;
    border-left: 1px dashed #888;
    border-right: 1px dashed #888;
    grid-area: postbody;
    padding: 2%;
}

#posttext {
    color: #444;
}

#left {
    background-color: #fff9f6;
    grid-area: left;
}

#right {
    background-color: #fff9f6;
    grid-area: right;
}
